
<!-- BOTON PEGAJOSO  https://codepen.io/Markshall/pen/PoZJRve-->
<!-- <div class="d-flex justify-content-center">
    <div class="dropdown">
        <input type="checkbox" id="dropdown">
      
        <label class="dropdown__face" for="dropdown">
          <div class="dropdown__text">Dropdown</div>
      
          <div class="dropdown__arrow"></div>
        </label>
      
        <ul class="dropdown__items">
          <li>🙂</li>
          <li>😺</li>
          <li>😽</li>
          <li>😎</li>
          <li>🤗</li>
        </ul>
    </div>
</div>
  
  <svg>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
      <feBlend in="SourceGraphic" in2="goo" />
    </filter>
  </svg> -->

<!-- BOTON PEGAJOSO  https://codepen.io/Markshall/pen/PoZJRve-->

<!-- BOTON CHEVERE  https://codepen.io/barhatsor/pen/YzwxaQV-->
<!-- <div class="d-flex justify-content-center">
    <div class="menu" onclick="this.classList.toggle('open')">
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
      </div>
</div> -->

<!-- BOTON CHEVERE  https://codepen.io/barhatsor/pen/YzwxaQV-->

<!-- BOTON CIRCULAR QUE ABRE BOTONES  https://codepen.io/enmckinn/pen/JxOOej-->
<!-- <nav class="menu">
    <input checked="checked" class="menu-toggler" type="checkbox">
    <label for="menu-toggler"></label>
    <ul>
      <li class="menu-item">
        <a class="fas fa-cat" href=""></a>
      </li>
      <li class="menu-item">
        <a class="fas fa-cookie-bite" href="#"></a>
      </li>
      <li class="menu-item">
        <a class="fab fa-earlybirds" href="#"></a>
      </li>
      <li class="menu-item">
        <a class="fab fa-fly"href="#"></a>
      </li>
      <li class="menu-item">
        <a class ="far fa-gem" href="#"></a>
      </li>
      <li class="menu-item">
        <a class="fas fa-glass-cheers" href="#"></a>
      </li>
    </ul>
  </nav> -->
<!-- BOTON CIRCULAR QUE ABRE BOTONES  https://codepen.io/enmckinn/pen/JxOOej-->
<nav class="navbar sticky-top navbar-light bg-light d-flex justify-content-end" style="background-color: #06f!important;">
    <a class="navbar-brand" style="color: white;" href="#">Lavandería Rápida</a>
</nav>